<div style="text-align:center; margin-bottom:0px; margin-top:0px"><img style=" border-radius:100%; border:3px solid black; width:15%" src ='/{{ site.baseurl }}images/logo.png'/></div>

<h3 style="text-align:center; margin-top: 20px; margin-bottom:40px; color: rgba(0,101,128,1.0000000000);"> Continual AI</h3>

Humans have the extraordinary ability to <strong>learn continually</strong> from experience. Not only can we apply previously learned knowledge and skills to new situations, we can also use these as the foundation for later learning. One of the grand goals of AI is building an artificial <em>"Continual Learning"</em> agent that constructs a sophisticated understanding of the world from its own experience through the <strong> autonomous incremental development</strong> of ever more complex skills and knowledge. The **Continual AI** project aims to connect people and collect information about this topic.
<br>

We are always happy to add new members and get some help for improving our wiki or simply discuss about about CL, so join us today [on slack](https://continualai.herokuapp.com/)! :-)

<div style="text-align: center; margin-top: 40px">
<a class="twitter-timeline" data-width="500" data-height="500" data-theme="light" href="https://twitter.com/Continualai?ref_src=twsrc%5Etfw">Tweets by ContinuousAI</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>