<div style="text-align:center; margin-bottom:0px; margin-top:0px"><img style="width:55%" src ='/{{ site.baseurl }}images/continualai_logo_name_black.png'/></div>

<!--<h3 style="text-align:center; margin-top: 20px; margin-bottom:40px; color: rgba(0,101,128,1.0000000000);"> ContinualAI</h3>-->

<p style="text-align:center; background: rgba(0,0,0,0.06) none repeat scroll 0% 0%; border: 1px solid rgb(222, 222, 222); padding: 1em; border-radius: 5px; margin-top:20px; font-size: 20px"><a href="https://continualai.herokuapp.com" target="_blank">Join us on slack</a>  &nbsp; | &nbsp; <a href="">Become a member</a>
</p>

Humans have the extraordinary ability to <strong>learn continually</strong> from experience. Not only can we apply previously learned knowledge and skills to new situations, we can also use these as the foundation for later learning. One of the grand goals of AI is building an artificial <em>"Continual Learning"</em> agent that constructs a sophisticated understanding of the world from its own experience through the <strong> autonomous incremental development</strong> of ever more complex skills and knowledge. 

<!--
<div style="text-align:center; margin-bottom:40px; margin-top:0px"><img src ='/{{ site.baseurl }}images/papers_num.png' width="100%" />
<p style="font-size: 80%;"><strong>Fig. 1</strong>: Growing interest in CL as shown by the number of papers published each year on the subject. Based on Scopus indexed papers, limiting the category to Computer Science and searching for the exact keywords in the legend.</p></div>
-->

**ContinualAI** is an official non-profit research organization and open community aiming at connecting people and working better together on a topic we consider fundamental for the future of AI: <em>Continual/Lifelong Machine learning</em>. ContinualAI is a striving effort to make research in continual learning and AI more open, inclusive, collaborative, democratic and transparent. Everything made at ContinualAI is open and freely accessible. But, maybe more importantly, all the projects are open-source and collaborative from the beginning (especially in the decision processes) and reflect the needs of the entire community itself. ContinualAI goals can be divided in three main lines:  

- **[Connect](http://continualai.org)**: a central Hub of information for Continual Learning and AI. 
- **[Research](https://github.com/ContinualAI/colab)**: a number of notebooks and scripts (for demo, showcasing & tutorials) which can be directly imported in Google Colab and are related to Continual Learning.
- **[Educate](https://github.com/ContinualAI/avalanche)**: a comprehensive framework for Continual Learning Research. It aims at unifying a set of popular CL baselines, environments and benchmarks to help algorithm prototyping and experiment, with flexibility, reproducibility, efficiency and maintainability in mind. Avalanche will be based on three main modules: datasets/environments, CL baselines and evaluation metrics/protocols.

We are always happy to add new members and get some help with our projects or simply discuss about about CL, so join us today <a href="https://continualai.herokuapp.com" target="_blank">on slack</a> and become a member, we need you help now! :-)
<br>

<div style="text-align: center; margin-top: 40px">
<a class="twitter-timeline" data-width="500" data-height="500" data-theme="light" href="https://twitter.com/Continualai?ref_src=twsrc%5Etfw">Tweets by ContinuousAI</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
