<div style="text-align:center; margin-bottom:0px; margin-top:0px"><img style="width:55%" src ='/{{ site.baseurl }}images/continualai_logo_name_black.png'/></div>

<!--<h3 style="text-align:center; margin-top: 20px; margin-bottom:40px; color: rgba(0,101,128,1.0000000000);"> ContinualAI</h3>-->

<p style="text-align:center; background: rgba(0,0,0,0.06) none repeat scroll 0% 0%; border: 1px solid rgb(222, 222, 222); padding: 1em; border-radius: 5px; margin-top:20px; font-size: 20px"><a href="https://join.slack.com/t/continualai/shared_invite/enQtNjQxNDYwMzkxNzk0LTgzNGM4ZDE0YzFiNWY3OTAwYjVhMGU0Mzg1ZDQ3MmY5OTRmMjY2ZWQzMTBmZTllYjY0NTVkNTgxYWE1YWJjNDI" target="_blank"><strong>Join us on slack</strong></a>  &nbsp; | &nbsp; <a href="/{{ site.baseurl }}join_us"><strong>Become a member</strong></a>
</p>

<!--
<div style="text-align:center; margin-bottom:40px; margin-top:0px"><img src ='/{{ site.baseurl }}images/papers_num.png' width="100%" />
<p style="font-size: 80%;"><strong>Fig. 1</strong>: Growing interest in CL as shown by the number of papers published each year on the subject. Based on Scopus indexed papers, limiting the category to Computer Science and searching for the exact keywords in the legend.</p></div>
-->

<!--
**ContinualAI** is an official *non-profit research organization* and the *largest open community* on *Continual Learning for AI*. We aim at connecting people and working better together on this topic, which we consider fundamental for the future of AI. ContinualAI is a striving effort to make research in continual learning and AI more open, collaborative, democratic and transparent. We support *open science* at every level. Everything made at ContinualAI is open and freely accessible. But, maybe more importantly, all the projects are open-source and collaborative since the beginning (especially in the decision processes) and reflect the needs of the entire community itself. ContinualAI has three main objectives:  

- **[Connect](http://continualai.org//connect)**: Connecting researchers working on continual learning for AI is one of the reason ContinualAI exists today and one of the main goal of the organization.
- **[Research](http://continualai.org//research)**: at ContinualAI we work to create a distributed and inclusive research lab on Continual Learning, where anyone can contribute and learn more about this fascinating topic, while producing cutting edge research results.
- **[Educate](http://continualai.org//educate)**: Researchers should not only produce awesome research results but should be also concerned in making them accessible to anyone. This is way many projects are underway at ContinualAI to disseminate research in Continual Learning and related areas.
-->

Humans have the extraordinary ability to *learn continually* from experience. Not only can we apply previously learned knowledge and skills to novel situations, but we can also use these as the foundation for later learning. One of the grand goals of AI is to build artificial **"continual learning"** agents that construct a sophisticated understanding of the world from their own experience through the incremental development of increasingly complex knowledge and skills.

*ContinualAI is an official non-profit research organization and the largest open community on Continual Learning for AI. Our core mission is to fuel continual learning research by connecting researchers in the field and offering a platform to share and openly discuss their research on a topic we consider fundamental for the future of AI.*

We plan to fulfill our mission by:

  - Organizing and sponsoring events and editorial publications on Continual Learning across the world such as workshops at major AI conferences, industrial panels, webinars, and special issues.
  - Improving our aggregation and communication platforms: Slack, social media, mailing-list, newsletter, etc.
  - Helping ContinualAI members disseminate and improve their work: every paper published by the ContinualAI members will be listed on the research page, shared and openly discussed.

However, ContinualAI is also a striving effort to make research in continual learning and AI more open, collaborative and inclusive. This is why we would love to have you on-board! We are always happy to add new members and get some help with our projects or simply discuss about CL - So join us today [on Slack](https://join.slack.com/t/continualai/shared_invite/enQtNjQxNDYwMzkxNzk0LTgzNGM4ZDE0YzFiNWY3OTAwYjVhMGU0Mzg1ZDQ3MmY5OTRmMjY2ZWQzMTBmZTllYjY0NTVkNTgxYWE1YWJjNDI) and [become a member](https://www.continualai.org/join_us)!

Do you want to learn more about *ContinualAI* and its history? Take a look at our <a href="https://medium.com/continual-ai/continualai-a-non-profit-research-organization-on-continual-learning-for-ai-a2df70a68d2c">introductory blog post</a> and [YouTube video](https://www.youtube.com/watch?v=GItaVgvNwgI). 
<br>

<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'ContinualAI/community'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

<div style="text-align: center; margin-top: 40px">
<a class="twitter-timeline" data-width="500" data-height="500" data-theme="light" href="https://twitter.com/Continualai?ref_src=twsrc%5Etfw">Tweets by ContinuousAI</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

